.about {
  .about-banner {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    position: relative;

    @include for-md {
      padding-top: 100px;
    }

    @include for-lg {
      flex-direction: row;
      align-items: flex-end;
      padding-top: 0;
    }

    .lottie {
      position: absolute;
      z-index: -1;
      top: 0;

      @include for-lg {
        top: unset;
        bottom: 0;
      }

      & > div {
        @include for-lg {

          width: 530px!important;
        }

        @include for-xl {
          width: 700px!important;
        }
      }
    }

    .about-img {
      display: flex;
      max-width: 500px;
      margin-left: auto;

      img {
        width: 100%;
      }
    }
  }

  .about-info {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    @include for-md {
      flex-direction: row;
      flex-wrap: wrap;
      border-radius: 30px;
    }

    .about-description {
      padding: 20px;
      display: flex;
      align-items: center;

      @include for-md {
        width: 100%;
        padding: 50px 50px 0;
      }

      @include for-xl {
        width: calc(35% - 50px);
        padding: 50px 0 50px 50px;
      }

      p {
        font-size: 14px;
        overflow-wrap: break-word;
        color: #fff;
        margin: 0;
        text-align: center;

        @include for-md {
          font-size: 16px;
          text-align: start;
        }
      }
    }

    .about-me {
      @include for-md {
        display: flex;
        padding: 50px;
      }

      @include for-xl {
        width: calc(65% - 50px);
        padding: 50px 50px 50px 0;
        margin-left: auto;
      }

      .lottie {
        & > div {
          width: auto!important;
          height: auto!important;
        }
      }

      .about-video {
        display: flex;

        video {
          width: 100%;
        }
      }
    }
  }
}