.animation {
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: #fff;
    font-size: 50px;
    text-align: center;

    @include for-xl {
      font-size: 144px;
    }
  }
}