.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .tags {
    max-width: 600px;
    margin: 0;

    .tag-item {
      a {
        font-size: 14px;
      }
    }
  }
}
