.collapse {
  h2 {
    font-size: 50px;
    font-style: italic;
    color: #fff;
    line-height: 1;
    text-align: center;
    margin: 0 auto 30px;

    @include for-lg {
      font-size: 80px;
    }
  }

  .el-collapse {
    border: none;
    margin: 50px 0;
  }

  .el-collapse-item__header {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 16px;
  }

  .el-collapse-item__content {
    font-size: 16px;
  }

  .el-collapse-item__wrap {
    background-color: transparent;
    border: none;
    font-size: 16px;
  }
}