html {
    font-size: 12px;
}

body {
    background-color: $color-primary;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.shadow {
    box-shadow: 0 0 20px 0 $color-secondary;
}

.section-vh {
    height: 100vh;
    min-height: 700px;
}

/** ------ RESPONSIVE BREACK POINTS ----- **/
/** ------ extra small -----**/
@media only screen and (min-width: 576px) {
    html {
        font-size: 13px;
    }

}

/** ------ medium -----**/
@media only screen and (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

/** ------ large -----**/
@media only screen and (min-width: 992px) {
    html {
        font-size: 15px;
    }
}

/** ------ extra large -----**/
@media only screen and (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}

.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;

    @include for-ssm {
        max-width: 400px;
    }

    @include for-sm {
        max-width: 540px;
    }

    @include for-md {
        max-width: 720px;
        padding-left: 20px;
        padding-right: 20px;
    }

    @include for-lg {
        max-width: 960px;
    }

    @include for-xl {
        max-width: 1140px;
    }
}