html {
    font-size: 12px;
}

body {
    background-color: $color-primary;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.shadow {
    box-shadow: 0 0 20px 0 $color-secondary!important;
}

.section-vh {
    height: 100vh;
    min-height: 700px;
}

.section-vh-auto {
    height: auto;
    min-height: auto;
}

/** ------ RESPONSIVE BREACK POINTS ----- **/
/** ------ extra small -----**/
@media only screen and (min-width: 576px) {
    html {
        font-size: 13px;
    }

}

/** ------ medium -----**/
@media only screen and (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

/** ------ large -----**/
@media only screen and (min-width: 992px) {
    html {
        font-size: 15px;
    }
}

/** ------ extra large -----**/
@media only screen and (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}

/** ----- containers ----- **/
.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;

    @include for-ssm {
        max-width: 400px;
    }

    @include for-sm {
        max-width: 540px;
    }

    @include for-md {
        max-width: 720px;
        padding-left: 20px;
        padding-right: 20px;
    }

    @include for-lg {
        max-width: 960px;
    }

    @include for-xl {
        max-width: 1140px;
    }
}

/** ----- shadows ----- **/
.shadow-bottom {
    position: relative;
    overflow: hidden;

    &:after {
        content: '';
        position: absolute;
        left: -100px;
        right: -100px;
        bottom: 0;
        box-shadow: 0 0 100px 100px #000;
    }
}

/** ----- request design btn ----- **/
.request-design-btn {
    position: fixed;
    bottom: 50px;
    right: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;

    @include for-lg {
        left: auto;
        right: 50px;
    }

    a {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
        padding: 15px 25px;
        color: #000;
        background-color: #ffdd00;
        border-radius: 15px;

        @include for-md {
            font-size: 18px;
            padding: 20px 30px;
        }
    }
}
