.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;

  .contact-button {
    max-width: calc(275px - 60px);
    transition: .5s ease-in-out;
    border-radius: 15px;

    @include for-md {
      max-width: calc(350px - 60px);
      border-radius: 20px;
    }

    .contact-button-image a {
      display: flex;
    }

    img {
      width: 100%;
    }

    &:hover {
      cursor: pointer;
      transform: translateY(-5px);
      box-shadow: 0 10px 30px 4px $color-secondary;
    }
  }

  .contact-info {
    text-align: center;

    h3 {
      color: #fff;
      font-size: 30px;
      margin: 0;

      @include for-md {
        font-size: 50px;
      }
    }

    span {
      color: #fff;
      font-size: 20px;

      @include for-md {
        font-size: 24px;
      }
    }
  }
}
