.navigation-bar {
  @include for-md {
    background-color: $color-primary;
  }

  .navigation-bar-menu {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    width: 100%;
    border: none;

    &.el-menu.el-menu--horizontal {
      border: none;
    }

    .el-menu-item {
      background-color: transparent !important;
      height: auto;
      line-height: normal;
      font-size: 1.25rem;
      color: #fff;

      &.is-active {
        border-color: transparent;
      }
    }
  }

  .navigation-bar-mobile {
    z-index: 999;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    min-height: 41px;
    background-color: $color-primary;
    height: 0;
    transition: height .5s ease-in-out;

    &.active {
      height: 100vh;
      overflow: auto;
    }

    .navigation-bar-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0;
      width: 100%;
      height: 0;
      transition: height .5s ease-in-out;
      background-color: #000;
      min-height: unset;

      .el-menu-item {
        text-align: center;
        font-size: 0;
        opacity: 0;
        transition: opacity .3s ease-in-out;
      }

      .theme-switcher {
        height: 0;
        opacity: 0;
      }

      &.active {
        height: 500px;

        .el-menu-item {
          font-size: 1.563rem;
          margin: 15px 0;
          opacity: 1;
        }

        .theme-switcher {
          height: auto;
          opacity: 1;
          transition: opacity 0.3s ease-in-out;
        }
      }
    }
  }
}