.icon-instagram:before {
  content: "\e900";
  color: #fff;
}
.icon-youtube:before {
  content: "\e901";
  color: #fff;
}
.icon-sound:before {
  content: "\e902";
  color: #fff;
}
.icon-ring:before {
  content: "\e903";
  color: #fff;
}
.icon-next:before {
  content: "\e904";
}
.icon-camera:before {
  content: "\e905";
  color: #fff;
}
.icon-behance:before {
  content: "\e906";
  color: #fff;
}
