.icon-youtube:before {
  content: "\e900";
}
.icon-a:before {
  content: "\e901";
}
.icon-camera:before {
  content: "\e902";
}
.icon-sound:before {
  content: "\e903";
}
.icon-jewelry:before {
  content: "\e904";
}
.icon-behance:before {
  content: "\e905";
}
.icon-instagram:before {
  content: "\e906";
}