.membership {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 50px;

  h1 {
    width: 100%;
    color: #fff;
    font-size: 34px;
    text-align: center;
    font-style: italic;
    margin-bottom: 80px;

    @include for-lg {
      font-size: 80px;
    }
  }
}

.membership-item {
  position: relative;
  width: 90%;
  max-width: 300px;
  margin: auto;

  &:hover {
    .green {
      transform: translateY(-5px);
      box-shadow: 0 5px 17px 0 #a0fa00;
      transition: all 0.5s;
    }

    .yellow {
      transform: translateY(-5px);
      box-shadow: 0 5px 17px 0 #ffdd00;
      transition: all 0.5s;
    }

    .blue {
      transform: translateY(-5px);
      box-shadow: 0 5px 17px 0 #fc029d;
      transition: all 0.5s;
    }

    .hover-line {
      opacity: 1;
      transition: opacity 1s;
    }
  }

  @include for-lg {
    width: calc(33.3% - 20px);
    max-width: unset;
    margin: unset;
  }

  &.move-down {
    @include for-lg {
      margin-top: 100px;
    }
  }

  .hover-line {
    display: flex;
    justify-content: center;
    width: 100px;
    margin: auto;
    position: absolute;
    top: -80px;
    left: 0;
    right: 0;
    z-index: 9;
    opacity: 0;
    transition: opacity 1s;

    img {
      width: 100%;
    }
  }
}

.membership-block {
  margin: 0 auto;
  padding: 50px 30px;
  border-radius: 30px;
  height: fit-content;
  overflow: hidden;

  &-image {
    margin: -50px -30px 0;

    img {
      width: 100%;
    }
  }

  &.green {
    border: 3px solid #a0fa00;
    transition: all 0.5s;

    .membership-block-price {
      color: #a0fa00;
    }
  }

  &.yellow {
    border: 3px solid #ffcc00;
    transition: all 0.5s;

    .membership-block-price {
      color: #ffcc00;
    }
  }

  &.blue {
    border: 3px solid #fc029d;
    transition: all 0.5s;

    .membership-block-price {
      color: #fc029d;
    }
  }

  &-shape {
    color: #000;
    text-transform: uppercase;
    text-align: center;
    font-style: italic;
    margin-bottom: 30px;

    h2 {
      font-size: 16px;
    }
  }

  &-info {
    margin-bottom: 50px;

    ul {
      list-style-type: none;
      text-align: center;
      padding: 0;

      li {
        color: #fff;

        &.muted-text {
          color: #a0fa00;
        }
      }
    }
  }

  &-price {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;

    &-number {
      font-size: 64px;
      font-weight: 800;
      font-style: italic;
    }

    &-text {
      font-size: 34px;
      font-weight: 800;
      font-style: italic;
    }
  }
}

.title-shape {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 24px;
  position: relative;
  background: #ffcc00;
  margin: auto;
}
.title-shape:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 12px solid $color-primary;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}
.title-shape:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-right: 12px solid $color-primary;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}


.membership-benefits {
  margin-top: 50px;
  margin-bottom: 50px;

  @include for-lg {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  h2 {
    font-size: 34px;
    font-style: italic;
    color: #fff;
    line-height: 1;
    text-align: center;
    margin: 0 auto 15px;

    @include for-lg {
      font-size: 80px;
    }
  }

  &-block-title {
    max-width: 280px;
    margin: auto;

    @include for-lg {
      max-width: unset;
    }

    h3 {
      font-size: 20px;
      color: #fff;
      text-align: center;
      margin: 0 auto 80px;
      font-weight: 400;

      @include for-lg {
        font-size: 30px;
      }
    }
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 80px;
  }

  &-item {
    width: 100%;
    max-width: 300px;
    margin: auto;
    text-align: center;

    @include for-lg {
      width: calc(33.3% - 20px);
      max-width: unset;
      margin: unset;
    }

    &.move-down {
      @include for-lg {
        margin-top: 100px;
      }
    }
  }

  &-image {
    width: 100px;
    height: 100px;
    margin: 0 auto 30px;

    img {
      width: 100%;
    }
  }

  &-title {
    h3 {
      color: #fff;
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 900;
      font-style: italic;
      margin: 0 0 10px;
      line-height: 1.3;

      @include for-lg {
        font-size: 30px;
      }
    }
  }

  &-info {
    p {
      color: #fff;
      font-size: 18px;
      font-weight: 400;
      margin: 0;
      line-height: 1.3;

      @include for-lg {
        font-size: 20px;
      }
    }
  }
}

.membership-block-title {
  max-width: 280px;
  margin: auto;

  @include for-lg {
    max-width: unset;
  }

  h3 {
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin: 0 auto 80px;
    font-weight: 400;

    @include for-lg {
      font-size: 30px;
    }
  }
}
