.portfolio-title {
  margin-bottom: 50px;

  @include for-lg {
    margin-bottom: 100px;
  }

  a {
    text-decoration: none;
    width: fit-content;
  }

  h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 24px;
    font-weight: 400;

    @include for-md {
      font-size: 34px;
    }
  }
}

.portfolio-video {
  margin: 50px auto 0;
  display: flex;
  justify-content: center;
  max-width: 600px;

  img {
    width: 100%;
  }
}

.portfolio-explore-btn {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: auto;

  .btn-left {
    transform: rotate(180deg);
  }
}

.portfolio-button {
  margin: 30px auto 0;
  max-width: calc(275px - 40px);
  transition: .5s ease-in-out;
  border-radius: 50px;
  padding: 10px 20px;
  background-color: #fe0000;
  text-align: center;

  @include for-md {
    max-width: calc(275px - 40px);
    border-radius: 50px;
  }

  a {
    font-size: 20px;
    text-decoration: none;
    font-style: italic;
    font-weight: 900;
    color: #fff;

    @include for-md {
      font-size: 40px;
    }
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 10px 30px 4px #fe0000;
  }
}
