.portfolio-title {
  margin-bottom: 70px;

  h1 {
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 74px;

    @include for-sm {
      font-size: 100px;
    }

    @include for-md {
      font-size: 160px;
    }

    @include for-xl {
      font-size: 190px;
    }
  }

  a {
    text-decoration: none;
    width: fit-content;
  }

  h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 24px;
    font-weight: 400;

    @include for-md {
      font-size: 34px;
    }
  }

  p {
    color: #fff;
    text-align: center;
  }
}

.projects-categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 100px;
}

.portfolio-explore-btn {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: auto;

  .btn-left {
    transform: rotate(180deg);
  }
}
