.portfolio-title {
  margin-bottom: 70px;

  a {
    text-decoration: none;
    width: fit-content;
  }

  h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 24px;
    font-weight: 400;

    @include for-md {
      font-size: 34px;
    }
  }
}

.portfolio-video {
  margin: 50px auto 50px;
  display: flex;
  justify-content: center;
  max-width: 600px;

  img {
    width: 100%;
  }
}

.portfolio-explore-btn {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: auto;

  .btn-left {
    transform: rotate(180deg);
  }
}
