.membership-slider {
  margin-bottom: 50px;

  .membership-slide {
    padding: 40px;

    img {
      width: 100%;
    }
  }

  .slick-dots {
    bottom: 0;

    li {
      button {
        &:before {
          color: #fff;
          opacity: 0.7;
          font-size: 12px;
        }
      }

      &.slick-active {
        button {
          &:before {
            color: $color-secondary;
            opacity: 1;
          }
        }
      }
    }
  }

  .vertical-line {
    margin: auto;
    background-color: #ffdd00;
    height: 225px;
    width: 2px;
    position: relative;
  }
}