.social-media {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 0;

  .social-media-heading {
    h1 {
      text-align: center;
      font-size: 44px;
      color: #fff;
      margin: 0 0 50px;

      @include for-sm {
        font-size: 70px;
      }

      @include for-md {
        font-size: 96px;
      }

      @include for-lg {
        font-size: 120px;
      }
    }
  }

  .social-media-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 0;
    gap: 50px;

    @include for-md {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  .social-media-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      text-decoration: none;
      color: #fff;
      font-size: 30px;
      font-weight: 700;
    }

    span {
      color: #fff;
      font-size: 16px;
    }
  }
}
