.stock {
  padding: 120px 0;
  background-color: #000;

  .stock-logo {
    display: flex;
    justify-content: center;

    img {
      max-width: 500px;
      width: 100%;
      height: auto;

      @include for-md {
        width: auto;
        height: 60px;
      }
    }
  }

  .stock-info {
    margin: 0 10px;
  }

  .stock-description {
    text-align: center;
    color: #fff;
    font-size: 16px;
    max-width: 700px;
    margin: auto;
  }

  .slick-slider {
    margin: 0 -15px;

    @include for-sm {
      margin: unset;
    }
  }

  .stock-item-card {
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    background-color: $color-static;
    border-radius: 30px;
    margin: 25px 10px;
    padding: 25px 0;

    img {
      width: 100%;
    }

    @include for-md {
      width: calc(100% - 50px);
      margin: 25px;
    }
  }

  .stock-item-title {
    padding: 0 20px;

    h3 {
      text-align: center;
      font-size: 28px;
      font-weight: 700;
      color: #fff;
      margin-top: 0;
      margin-bottom: 0;
      text-transform: uppercase;

      @include for-md {
        font-size: 32px;
      }
    }
  }

  .stock-item-description {
    padding: 0 20px;

    p {
      text-align: center;
      color: #000;
      margin-top: 0;
      margin-bottom: 25px;
      font-weight: 700;
    }
  }

  .stock-item-animation {
    min-height: 175px;
    overflow: hidden;
    display: flex;

    img {
      width: 100%;
    }
  }

  .stock-item-button {
    text-align: center;
    margin-top: 25px;

    a {
      text-decoration: none;
      color: #fff;
      font-size: 20px;
      font-weight: 700;
    }
  }

  .stock-footer {
    margin: 0 10px;

    p {
      color: #fff;
      font-size: 16px;
      text-align: center;
    }

    h5 {
      color: #FFD800;
      font-size: 40px;
      margin: 0;
      text-align: center;
      line-height: 1;
    }
  }
}