.stock {
  padding-top: 100px;
  margin-bottom: 100px;
  background-color: #000;

  .stock-block-title {
    h2 {
      font-size: 34px;
      font-style: italic;
      color: #fff;
      line-height: 1;
      text-align: center;
      margin: 0 auto 15px;

      @include for-lg {
        font-size: 80px;
      }
    }

    h3 {
      font-size: 20px;
      color: #fff;
      line-height: 1;
      text-align: center;
      margin: 0 auto 15px;
      font-weight: 200;

      @include for-lg {
        font-size: 40px;
      }
    }
  }

  .stock-item-card {
    height: 290px;
    padding: 25px;
    margin: 10px;
    background-color: #191919;

    @include for-lg {
      height: 350px;
    }

    .stock-item-btn {
      position: relative;
      z-index: 1;

      a {
        font-size: 30px;
        font-weight: 600;
        text-decoration: none;
        color: #fff;
      }

      i {
        font-size: 24px;
      }
    }
  }

  .jewelry-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #00bf1a;

    @include for-lg {
      flex-direction: row;
    }

    .stock-item-card-jewelry-image {
      max-width: 500px;

      img {
        width: 100%;
      }
    }

    .stock-item-description-small {
      display: flex;
      flex-direction: column;
      text-align: center;
      position: relative;
      z-index: 9;

      @include for-lg {
        display: block;
      }
    }

    h3 {
      font-size: 30px;
      text-align: center;
      text-transform: uppercase;
      margin: 0;
      font-weight: 900;

      @include for-lg {
        text-align: unset;
        font-size: 40px;
      }
    }

    span {
      font-size: 16px;

      @include for-lg {
        font-size: 20px;
      }

      &:nth-of-type(1) {
        font-weight: 900;
        margin-right: 20px;
      }

      &:nth-of-type(2) {
        color: #fff;
      }
    }

    .stock-item-btn {
      a {
        color: #fff;
      }
    }
  }

  .thumbnail-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    .stock-item-btn {
      a {
        color: #a0fa00;
      }
    }
  }

  .stock-item-head {
    text-align: center;
    color: #fff;

    h4 {
      font-size: 40px;
      margin: 0;
      color: #fff;
    }

    h5 {
      font-size: 20px;
      margin: 0;
      color: #fff;
      font-weight: 400;
    }
  }

  .stock-item-image {
    width: auto;
    height: 100px;
    margin: auto;

    img {
      width: auto;
      height: 100%;
      object-fit: cover;
    }
  }

  .patreon-card {
    background-color: #ff1e5d;
  }

  .behance-card {
    background-color: #4d00ff;
  }

  .youtube-card {
    background-color: #fe0000;
  }
}

.stock-footer {
  color: #fff;
}
