.stock {
  padding: 120px 0;
  background-color: #000;

  .stock-logo {
    display: flex;
    justify-content: center;

    img {
      max-width: 500px;
      width: 100%;
      height: auto;

      @include for-md {
        width: auto;
        height: 60px;
      }
    }
  }

  .stock-info {
    margin: 0 10px;
  }

  .stock-description {
    text-align: center;
    color: #fff;
    font-size: 16px;
    max-width: 700px;
    margin: auto;
  }

  //.slick-slider {
  //  margin-left: -15px;
  //  margin-right: -15px;
  //}

  .stock-item-card {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    width: calc(100% - 10px);
    background-color: $color-static;
    border-radius: 30px;
    margin: 25px 5px;
    padding: 25px 0;

    img {
      width: 100%;
    }

    @include for-md {
      margin: 25px;
    }
  }

  .stock-item-title {
    h3 {
      text-align: center;
      font-size: 32px;
      font-weight: 100;
      color: #fff;
      margin-top: 0;
      margin-bottom: 20px;

      @include for-md {
        font-size: 38px;
      }
    }
  }

  .stock-item-description {
    p {
      text-align: center;
      color: #fff;
    }
  }

  .stock-item-animation {
    min-height: 175px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .stock-item-button {
    text-align: center;
    margin-top: 25px;

    a {
      text-decoration: none;
      color: #fff;
      font-size: 28px;
      font-weight: 700;
    }

    i {
      font-size: 24px;
      font-weight: 700;
      transition: 0.5s ease-in-out;
    }

    &:hover {
      i {
        transform: translateX(10px);
      }
    }
  }

  .stock-footer {
    margin: 0 10px;

    p {
      color: #fff;
      font-size: 16px;
      text-align: center;
    }

    h5 {
      color: #FFD800;
      font-size: 40px;
      margin: 0;
      text-align: center;
      line-height: 1;
    }
  }
}