.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 100px auto;

  .tag-item {
    line-height: 1;
  }

  a {
    font-size: 23px;
    text-decoration: none;
    color: #fff;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }

    &.router-link-active {
      opacity: 1;
    }
  }
}
