.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  max-width: 600px;

  .tag-item {
    line-height: 1;

    a {
      font-size: 14px;
      text-decoration: none;
      color: #fff;
      opacity: 0.5;
    }

    &:hover a {
      opacity: 1;
    }
  }
}