.theme-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;

  .el-switch__core {
    &::after {
      background-color: $color-primary;
    }
  }

  .theme {
    font-size: 1rem;
    color: #fff;
    margin: 0 10px;
  }
}
