.translate {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;

  .el-switch__core {
    &::after {
      background-color: $color-primary;
    }
  }

  .language {
    color: #fff;
    opacity: 0.5;
    margin: 0 10px;

    &.active {
      opacity: 1;
    }
  }
}