.collapse-btn {
    display: flex;
    justify-content: center;
    padding: 20px;
    position: absolute;
    left: 0;
    right: 0;  
    bottom: 0;
    z-index: 9;

    span {
        display: block;
        width: 30px;
        height: 2px;
        background-color: #fff;
        transition: 0.5s ease-in-out;
    }

    &.active {
        bottom: 0;

        span {
            &:nth-child(1) {
                transform: rotate(-15deg);
            }

            &:nth-child(2) {
                transform: rotate(15deg);
                margin-left: -1px;
            }
        }   
    }
}